* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul,
li {
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 63px);
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
}

table {
  width: "100%";
  display: "table";
  overflow: "auto";
  border: 1;
  border-color: "#fff";
  grid-template-columns:
    minmax(150px, 3fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr);
}
